<h1>Pizza Delivery</h1>
<h2>Made Simple</h2>

<div class="blurb">
  We offer Pizza Delivery everywhere.If you need a quick and smart pizza
  delivery, use our service. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Integer et congue leo. Donec non congue arcu, quis rutrum ipsum. Sed
  ipsum tellus, pretium et orci ut, ultricies venenatis metus. Sed faucibus orci
  eget viverra feugiat. Vestibulum eu enim vel odio rutrum ultrices. Aliquam
  suscipit magna sit amet leo elementum maximus at at urna. Etiam facilisis
  ornare augue, non pulvinar nisl aliquam sed. Class aptent taciti sociosqu ad
  litora torquent per conubia nostra, per inceptos himenaeos. Morbi eu felis
  lacus. In tristique vel erat porta auctor. Donec at turpis efficitur, vehicula
  est non, pharetra est.
</div>

<div class="ctaWrapper">
  <a class="loggedOut cta green" href="/register">Get Started</a>
  <a class="loggedOut cta blue" href="/login">Login</a>
  <a class="loggedIn cta green" id="index-show" href="/shopping">Buy Pizza</a>
</div>
