<h1>Login To Your Account</h1>
<h2>Enter your email address and password</h2>

<div class="formWrapper">
  <div id="accountLogin">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">Email</div>
      <input
        type="text"
        name="email"
        class="input"
        placeholder="example@yahoo.com"
      />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Your Password</div>
      <input
        type="password"
        class="input"
        name="password"
        placeholder="*********"
      />
    </div>
    <div class="inputWrapper ctaWrapper">
      <input type="button" id="submitBtn" class="cta blue" value="Login" />
    </div>
  </div>
</div>
